body{
    background-color: rgb(40, 138, 103)
}

#root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: space-evenly;
    
    section {
        padding: 0px 20px 20px 20px;
        border-radius: 20px;
        // box-sizing: border-box;
        border: 2px solid whitesmoke;
        width:fit-content;
        
        .card {
            color: whitesmoke;
        }
        .card:hover{
            background-color: rgb(255, 165, 0, 0.6);
            transition: all 0.3s ease-in-out;
            border-radius: 15px;
        }

        h2 {
            color: rgb(214, 79, 69);
            text-align: center;
            text-decoration: underline;
        }
    }

    section:nth-child(3n+2) {
        background-color: rgb(224, 170, 54);
    }

    section:nth-child(3n+1) {
        background-color: rgb(228, 140, 183);
    }

    section:nth-child(3n+3) {
        background-color: rgb(40, 184, 208);
    }

    .January {
        display: block;
        width: 120px;

        // h2 {
        //    text-align: left;
        // }

        .card {
            display: inline-block;
        }
    }

    .February {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        .card:nth-child(2n){
        margin-left: 20px;
        }
    }
    .March {
        display: flex;
        flex-direction: column;
    }
    }