body{
    background-color: rgb(40, 138, 103);

    #root {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: space-evenly;
        
        section {
            padding: 0px 20px 20px 20px;
            border-radius: 20px;
            // box-sizing: border-box;
            border: 2px solid whitesmoke;
            width:fit-content;
            
            .card {
                color: whitesmoke;
                border: 1px solid whitesmoke;
                width: fit-content;
                margin: 3px;
                padding: 2px;
                border-radius: 5px;

            
            }
            .card:hover{
                background-color: turquoise;
                transition: all 0.3s ease-in-out;
                border-radius: 5px;

                padding: 2px;

            }
            .clicked{
                transform: rotate(180deg);
                transition: all 0.5s ease-in-out;
                background-color: rgb(62, 98, 242);
                border-radius: 5px;
                padding: 2px;
            }

}


        h2 {
            color: rgb(214, 79, 69);
            text-align: center;
            text-decoration: underline;
        }
    }

    section:nth-child(3n+2) {
        background-color: rgb(224, 170, 54);
    }

    section:nth-child(3n+1) {
        background-color: rgb(228, 140, 183);
    }

    section:nth-child(3n+3) {
        background-color: rgb(40, 184, 208);
    }

    .January {
        display: block;
        .card {
            display: inline-block;
        }
    }

    .February {
        display: flex;
        flex-direction: column;
        // align-self: flex-start;
        .card:nth-child(2n){
            justify-self: right;
        }        
    }
    .March {
        display: flex;
        flex-direction: column;
        
        @media only screen and (max-width:800px) {
            .card{
                background-color: orange;
            }
        }
    }
    
    }
